
.bodyMobileClass
{
    /* -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
    -ms-transform: rotate(90deg); 
    -o-transform: rotate(90deg); 
    transform: rotate(90deg);  */
}
/* @media screen and (max-device-width: 767px) and (orientation: landscape) {
    .bodyMobileClass {
        -webkit-transform: rotate(90deg); 
        -moz-transform: rotate(90deg); 
        -ms-transform: rotate(90deg); 
        -o-transform: rotate(90deg); 
        transform: rotate(90deg); 
    }
} */
#gameHover
{
    width :100%;
    height: 100%;
    display: inline-block;
}