.WaitingContainer
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 0;
    font-size: 0;
    /* background-color: rgb(48, 48, 151); */
    background: radial-gradient(25.64% 75.76% at 50% 50%, #134371 0%, #09152B 97.4%);

}

.WaitingState
{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 20%;
    z-index: 2;
}
.WaitingVs
{
    position: absolute;
    display: inline-block;
    z-index: 2;
    top: 20%;
    text-align: center;
    width: 100%;
    height: 30%;
}
.WaitingCoins
{
    position: absolute;
    display: inline-block;
    z-index: 2;
    top: 50%;
    width: 100%;
    height: 30%;
    font-size: 0;
    text-align: center;
}


.WaitingState > p
{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    font-size: 5vmin;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(247, 242, 242); 
    z-index: 4;
}


.WaitingFlashLight
{
    position: absolute;
    top: 70%;
    left: 41%;
    width: 18%;
    height: 0.6vmin;
    border-radius: 50%;
    background-color: rgb(225, 225, 225);
    box-shadow: 0vh 0vw 0.7vh 0.6vh rgb(199, 199, 199);
    /* opacity: 0.7; */
    /* display: inline-block; */
    text-align: center;

}
.WaitingFlashLight > p
{
    position: relative;
    z-index: 1;
    top: -3.5vmin;
    display: inline-block;
    text-align: center;
    color: white;
    opacity: 1;
    font-weight: bolder;
    font-style: italic;
    font-size: 6vmin;
    font-family: 'Courier New', Courier, monospace;

}

.WaitingPlayer1
{
    position: absolute;
    display: inline-block;
    z-index: 5;
    top: 15%;
    left: 22%;
    width: 17%;
    height: 75%;
    background-color: #1f70b7;
    text-align: center;
    transform: skew(5deg);
}

.WaitingPlyInside1
{
    display: inline-block;
    width: 95%;
    height: 90%;
    margin: 0 1%;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.3); 
}

.WaitingAvatarR1Cover
{
    display: inline-block;
    width: 70%;
    height: 30%;
    background-color: rgb(10, 36, 59) ;
    clip-path    : polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    padding: 2%;
    margin-top: 30%;
    transform: skew(-5deg);
}

.WaitingAvatarR1
{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #134371;
    background-image: url('../../public/images/question-mark.jpeg');
    background-size: 100% 100%;
    clip-path    : polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.WaitingPlayer2
{
    position: absolute;
    display: inline-block;
    z-index: 5;
    top: 15%;
    left : 61%;
    width: 17%;
    height: 75%;
    background-color:  #DA989E;
    font-size: 0;
    transform: skew(-5deg);
    text-align: center;
}

.WaitingPlyInside2
{
    display: inline-block;
    width: 95%;
    height: 90%;
    margin: 0 1%;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.3); 
    font-size: 0;
    text-align: center;
}

.WaitingAvatarR2Cover
{
    display: inline-block;
    width: 70%;
    height: 30%;
    background-color: rgb(94, 59, 63)  ;
    clip-path    : polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    padding: 2%;
    margin-top: 30%;
    transform: skew(5deg);
}

.WaitingAvatarR2
{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('../../public/images/question-mark.jpeg');
    background-size: 100% 100%;
    clip-path    : polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.WaitingPlayerName2 , .WaitingPlayerName1
{
    display: inline-block;
    width: 100%;
    height: 7%;
    font-size: 0;
    /* margin: 2.5vh 2.5vw; */
    /* background-color: #134371; */
    margin-top: 15%;
    text-align: center; 
}

.WaitingPlayerName2 > p , .WaitingPlayerName1 > p
{
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 2vmin;
    color: white;
    vertical-align: top; 
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#WaitingAvatarR1 , #WaitingAvatarR2
{
    width: 100%;
    height: 100%;
}

.playWithRobot
{
    position: absolute;
    /* display: inline-block; */
    display: none;
    z-index: 6;
    left : 30%;
    top: 12%;
    width: 40%;
    height: 25%;
    background: radial-gradient(25.64% 75.76% at 50% 50%, #2770b3 0%, #0341b4 97.4%);
    font-size: 0;
    border-radius: 5vmin;
    border: 0.1vmin solid #071736;
    box-shadow: 1vmin 1vmin 1vmin #071736 ;
    text-align: center;
}

.playWithRobot > p
{
    display: inline-block;
    font-size: 2vmin;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 55%;
    padding-top: 2vmin;
    border-radius: 5vmin;
    /* background-color: aliceblue; */
}
.WaitingBtn
{
    width: 30vw;
    height: 10vh;
    display: inline-block;
    border-radius: 5vmin;
}
.WaitingBtn > button
{
    width: 10vw;
    height: 5vmin;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 1vh;
    font-size: 2.5vmin;
    margin: 2.5vmin 2.5vw;
    border: none;
}
button:hover
{
    background-color: #143167;
}

@media (max-width : 400px)
{
    .WaitingPlayer1 , .WaitingPlayer2, .WaitingAvatarR2Cover, .WaitingAvatarR1Cover 
    {
        transform: skew(0deg);
    }
}
/* @media all and (orientation: portrait) {
    body {
        -webkit-transform: rotate(90deg); 
        -moz-transform: rotate(90deg); 
        -ms-transform: rotate(90deg); 
        -o-transform: rotate(90deg); 
        transform: rotate(90deg); 
    }
} */